<#+
public class FormulaTemplateProperty
{
    public string Name { get; set; }
    public string TypeName { get; set; }
    public string Default { get; set; }
    public bool ProhibitsToString { get; set; }
    public bool HasToStringValueIfDefault { get; set; }
    public bool HideBySig { get; set; }
    public bool ProhibitsNotification { get; set; }
    public bool ProhibitsDefaultAccepting { get; set; }
}
#>
